h1 {
  font-size: 4rem;
}
a {
  font-size: 2rem;
}
li {
  display: inline;
  margin-right: 5rem;
}

p {
  font-size: 1.6rem;
}

.nav {
  display: flex;
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 3rem;
}

.container {
  padding-left: 8rem;
  padding-right: 8rem;
}

.code {
  font-size: 1.9rem;
}

.button {
  background: #000;
  color: white;
  padding: 0.5rem 1rem;
  margin: 2rem;
  text-decoration: none;
}

.active {
  color: limegreen;
}

.photo {
  width: 800px;
  margin-top: 2rem;
  height: 500px;
  object-fit: cover;
}
