.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar-fixed {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
}
.custom-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.custom-img {
  height: 20rem;
  object-fit: cover;
}
